<h1>心泉第<%= @periodical.issue %>期修改</h1>

<%= render 'form' %>

<hr/>

<%= link_to '為這期新增文章', new_admin_periodical_entry_path(periodical_id: @periodical), class:'btn btn-lg btn-primary' %>

<h2>本期文章</h2>
<table class="table">
  <tbody>
  <% @periodical.entries.order(id: :asc).each do |e| %>
      <tr>
        <td><%= e.title %></td>
        <td><%= e.author %></td>
        <td><%= link_to '修改文章', edit_admin_periodical_entry_path(e) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
