<br >
<%= form_tag(admin_forum_boards_path) do %>
  <div class="field">
    <%= label_tag :name, '留言板名稱' %>
    <%= text_field_tag :name %>
  </div>

  <div class="field">
    <%= label_tag :admin, '只有管理者可留言' %>
    <%= radio_button_tag :admin, true %>
  </div>

  <%= recaptcha_tags(hl: 'zh-TW') %>

  <div class="actions">
    <%= submit_tag '新建留言板',
      class: 'btn btn-large',
      data:{disable_with:'建立中...'} %>
  </div>
<% end %>
