<!-- Header Carousel -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <%= image_tag "logo.jpg", class:'logo' %>
              <h1 class="tagline">中華基督神修小會<br/><small>Chinese Christian Spirit Community</small></h1>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                          </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i> 最新消息</h4>
                </div>
                <div class="panel-body">
                  <%= truncate(strip_tags(@notice.try(:body)), length:80) %>
                  <%= link_to "閱讀內文", @notice.try(:group), 'btn btn-default' %>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i> 活動報導</h4>
                </div>
                <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                    <%= link_to "閱讀內文", '#', 'btn btn-default' %>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i> 文化福傳</h4>
                </div>
                <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                  <%= link_to "閱讀內文", '#', 'btn btn-default' %>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <!--
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Modern Business Features</h2>
        </div>
        <div class="col-md-6">
            <p>The Modern Business template by Start Bootstrap includes:</p>
            <ul>
                <li><strong>Bootstrap v3.2.0</strong>
                </li>
                <li>jQuery v1.11.0</li>
                <li>Font Awesome v4.1.0</li>
                <li>Working PHP contact form with validation</li>
                <li>Unstyled page elements for easy customization</li>
                <li>17 HTML pages</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/700x450" alt="">
        </div>
    </div>
    -->
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="well">
        <div class="row">
            <div class="col-md-7">
              <b>總會地址</b>：台北市林森北路77號<br/>
              <b>聯絡電話</b>：(8862) 2523-0538<br/>
              <b>E-mail</b>：ccsc.ccsc@msa.hinet.net<br/>
              <br/>
              <b>支持我們</b><br/>
              社團法人天主教中華基督神修小會之友人文關懷與服務促進協會<br/>
              捐款帳號：華南銀行新生分行  113-20-094051-5
            </div>
            <div class="col-md-5">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.546564556006!2d121.52269781451601!3d25.049457683965088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a96f7a8026a5%3A0x98986b0570c04a8!2zMTA05Y-w54Gj5Y-w5YyX5biC5Lit5bGx5Y2A5p6X5qOu5YyX6LevNzfomZ8!5e0!3m2!1szh-TW!2s!4v1457087993525" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 1000 //changes the speed
  })
});
</script>
