<p id="notice"><%= notice %></p>

<h1>心泉</h1>

<%= banner_tag('心泉列表') %><br/>

<table class="table">
  <tbody>
    <% @fountains.each do |fountain| %>
      <tr>
        <td style="width: 6em">第 <%= fountain.issue %> 期</td>
        <td><%= link_to fountain.title, fountain %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @fountains %>
