<p id="notice"><%= notice %></p>

<h2>第<%= @fountain.issue %>期</h2>

<h1>
  <%= @fountain.title %>
</h1>

<table class="table">
  <tbody>
  <% @fountain.fountain_entries.each do |e| %>
    <% post = e.post %>
    <tr>
      <td><%= link_to post.title, post %></td>
      <td><%= post.author %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', fountains_path %>
