<p id="notice"><%= notice %></p>

<h2>第<%= @fountain.issue %>期</h2>

<h1>
  <%= @fountain.title %>
</h1>

<%= render partial: 'fountains/catalogue', :locals => {fountain: @fountain} %>

<p><%= link_to 'Back', fountains_path %></p>

