<%= form_tag(forum_board_topics_path(@board)) do %>
  <div class="field">
    <%= label_tag :title, '標題' %>
    <%= text_field_tag :title %>
  </div>

  <div class="field">
    <%= label_tag :author, '名字' %>
    <%= text_field_tag :author %>
  </div>


  <%= text_area_tag :content, nil, autocomplete:'off' %>

  <% if !@under_admin && Rails.env.production? %>
    <%= recaptcha_tags(hl: 'zh-TW') %>
  <% end %>

  <div class="field">
    防止廣告請回答：天主是幾位一體？（一個字：中文數字）
    <%= text_field_tag :question %>
  </div>

  <div class="actions">
    <%= submit_tag '留言',
      class: 'btn btn-large',
      data:{disable_with:'留言中...'} %>
  </div>
<% end %>
