<p id="notice"><%= notice %></p>

<h1 class="title">文化福傳──反映基督信仰與中華文化</h1>

<%= banner_tag('文化福傳列表') %><br/>
<br>
  <h3 class="title">信仰與文化</h3>
  <hr />
  <% @category_intro.children.each do |sub| %>
    <%= link_to sub.name, category_culture_preachings_path(category: sub.name) %>
  <% end %>

  <h3 class="title">小故事小道理</h3>
  <hr />
  <% @category_story.children.each do |sub| %>
    <%= link_to sub.name, category_culture_preachings_path(category: sub.name) %>
  <% end %>

  <h3 class="title">信仰我見我思</h3>
  <hr />
  <% @category_essay.children.each do |sub| %>
    <%= link_to sub.name, category_culture_preachings_path(category: sub.name) %>
  <% end %>
