<li><%= link_to '內部團體', Admin::Group %></li>
<li><%= link_to '各會訊息', Admin::Notice %></li>
<li><%= link_to '心泉', Admin::Fountain %></li>
<li><%= link_to '文化福傳', admin_culture_entries_path %></li>
<li><%= link_to '文章', Admin::Post %></li>
<li><%= link_to '回前台', root_path %></li>
