<li><%= link_to '特殊頁面', admin_infos_path %></li>
<li><%= link_to '內部團體', Admin::Group %></li>
<li><%= link_to '各會訊息', Admin::Notice %></li>
<li><%= link_to '行事曆', admin_schedules_path %></li>
<li><%= link_to '心泉', [:admin, Fountain] %></li>
<li><%= link_to '芥子', [:admin, Seed] %></li>
<li><%= link_to '文化福傳', admin_culture_entries_path %></li>
<li><%= link_to '招牌圖', admin_banners_path %></li>
<li><%= link_to '照片', 'https://www.flickr.com/photos/139810412@N04/albums' %></li>
<li><%= link_to '討論區', admin_forum_path %></li>
<li><%= link_to '所有留言', admin_forum_all_topics_path %></li>
<li><%= link_to '回前台', root_path %></li>
