<%= simple_form_for(@admin_fountain_entry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.fields_for(:post) do |p| %>
      <%= p.input :title, label:'標題' %>
      <%= p.input :author, label:'作者' %>
      <%= p.input :body, label:'內文', as: :ckeditor, input_html: {rows: 40} %>
    <% end %>
    <%= f.input :category, label:'類別' %>
    <%= f.input :order, label:'頁數' %>
    <%= f.hidden_field :fountain_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, '存檔', class:'btn btn-lg btn-default' %>
  </div>
<% end %>
