<%= form_tag(admin_forum_board_topic_path(board_id: @board.id, id: @topic.id), method: :put) do %>
  <div class="field">
    <%= label_tag :title, '標題' %>
    <%= text_field_tag :title %>
  </div>

  <div class="field">
    <%= label_tag :position, '排序' %>
    <%= number_field_tag :position, nil, min: 1 %>
  </div>

  <div class="actions">
    <%= submit_tag '更新留言',
      class: 'btn btn-large',
      data:{disable_with:'更新中...'} %>
  </div>
<% end %>
