<%= form_tag(admin_forum_board_topics_path(@board)) do %>
  <div class="field">
    <%= label_tag :title, '標題' %>
    <%= text_field_tag :title %>
  </div>

  <div class="field">
    <%= label_tag :position, '排序' %>
    <%= number_field_tag :position, nil, min: 1 %>
  </div>

  <div class="field">
    <%= label_tag :author, '名字' %>
    <%= text_field_tag :author %>
  </div>

  <%= label_tag :content, "內容" %>
  <%= text_area_tag :content, nil, autocomplete:'off', class: "ckeditor" %>


  <div class="actions">
    <%= submit_tag '留言',
      class: 'btn btn-large',
      data:{disable_with:'留言中...'} %>
  </div>
<% end %>
