<p id="notice"><%= notice %></p>

<h1>文章列表</h1>

<%= link_to '新增文章', new_admin_post_path, class:'btn btn-default' %>

<table class="table">
  <thead>
    <tr>
      <th>標題</th>
      <th>作者</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_posts.each do |admin_post| %>
      <tr>
        <td><%= admin_post.title %></td>
        <td><%= admin_post.author %></td>
        <td><%= link_to '顯示前台', post_path(admin_post) %></td>
        <td><%= link_to '編輯', edit_admin_post_path(admin_post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @admin_posts %>

<br>

<%= link_to '新增文章', new_admin_post_path, class:'btn btn-default' %>
