<h1>
  分類
  <small>
    <%= link_to "新增", new_admin_category_path %>
  </small>
</h1>


<table class="table">
  <thead>
  <th></th>
  <th>使用對象</th>
  </thead>
  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, edit_admin_category_path(category) %></td>
      <td><%= category.scope %></td>
    </tr>
    <% category.children.each do |child_category| %>
      <tr>
        <td>└ <%= link_to child_category.name, edit_admin_category_path(child_category) %></td>
        <td><%= child_category.scope %></td>
      </tr>
    <% end %>
  <% end %>
</table>
