<p id="notice"><%= notice %></p>

<h1>行事曆列表</h1>

<p><%= link_to '新增活動', new_admin_schedule_path, class:'btn btn-default' %></p>


<% @groups.each do |g| %>
 <div class="col-md-4">
  <table class="table">
    <thead>
    <tr>
     <th><%= g.name %></th>
    </tr>
    </thead>
    <tbody>
    <% g.schedules.each do |s| %>
      <tr>
        <td>  <%=s.created_at.strftime("%Y/%m/%d-%H:%M") %> </td>
        <td><%= link_to '編輯', edit_admin_schedule_path(s) %></td>
        <td><%= link_to '刪除', admin_schedule_path(s), method: :delete %></td>
      </tr>
        <% end %>
    </tbody>
  </table>
 </div>
<% end %>
 


<br>

<%#= link_to '新增活動', new_admin_schedule_path, class:'btn btn-default' %>
