<p><%= @schedule.created_at.strftime("%Y/%m/%d-%H:%M") %></p>
<%= @schedule.body %>

<p><%= link_to '編輯', edit_admin_schedule_path, :class => 'btn btn-default' %>
   <%= link_to '刪除', admin_schedule_path(@schedule), :class => 'btn btn-danger' %></p>
<p><%= link_to 'Back', admin_schedules_path %></p>
