<h1>修改</h1>

<%= render 'form' %>

<hr/>

<%= link_to '為這期新增文章', new_admin_post_path(fountain_id: @admin_fountain) %>

<table class="table">
  <tbody>
  <% @admin_fountain.fountain_entries.order(id: :asc).each do |e| %>
      <% post = e.post %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= post.author %></td>
        <td><%= link_to '修改文章', edit_admin_post_path(post) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'Back', admin_fountains_path %>

<hr>

<%= link_to '刪除', @admin_fountain, method: :delete, data: { confirm: 'Are you sure?' } %>
