<h1>心泉第<%= @admin_fountain.issue %>期修改</h1>

<%= render 'form' %>

<hr/>

<%= link_to '為這期新增文章', new_admin_post_path(fountain_id: @admin_fountain), class:'btn btn-lg btn-primary' %>

<h2>本期文章</h2>
<table class="table">
  <tbody>
  <% @admin_fountain.fountain_entries.order(id: :asc).each do |e| %>
      <% post = e.post %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= post.author %></td>
        <td><%= link_to '修改文章', edit_admin_post_path(post) %></td>
      </tr>
  <% end %>
  </tbody>
</table>
