<p id="notice"><%= notice %></p>

<h1>心泉列表</h1>

<%= link_to '新增期數', new_admin_fountain_path, class:'btn btn-default' %>

<table class="table">
  <thead>
    <tr>
      <th>期數</th>
      <th>標題</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_fountains.each do |admin_fountain| %>
      <tr>
        <td><%= admin_fountain.issue %></td>
        <td><%= admin_fountain.title %></td>
        <td><%= link_to '修改', edit_admin_fountain_path(admin_fountain) %></td>
        <td>
          <%= link_to '為這期新增文章', new_admin_fountain_fountain_entry_path(fountain_id: admin_fountain) %>
        </td>
        <td>
          <%= link_to '新增目錄', new_catalogue_admin_fountain_path(admin_fountain), :method => :post, class: 'btn btn-default' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @admin_fountains %>
